{% extends 'base.html'%}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Update Task</h1>

    
    <form action="/update/{{task.id}}" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{task.title}}" required><br><br>
        
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" required>{{task.content}}</textarea><br><br>
        
        <label for="priority">Priority:</label><br>
        <select id="priority" name="priority" value="{{task.priority}}" required>
            <option value="1">Low</option>
            <option value="2">Medium</option>
            <option value="3">High</option>
        </select><br><br>
        
        <input type="submit" value="Update Task">
    </form>
</div>
{% endblock %}
